<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itzyf.dao.UserDao">
    <resultMap id="User" type="com.itzyf.bean.User">

        <id column="Id" property="id" jdbcType="INTEGER"/>
        <result column="u_name" property="name" jdbcType="VARCHAR"/>
        <result column="age" property="age" jdbcType="INTEGER"/>
    </resultMap>


    <!--<select id="selectByCountryQueryModel" resultMap="user">-->

    <!--</select>-->
    <!--<typeAlias type="com.itzyf.bean.User" alias="User"/>-->

    <insert id="add" parameterType="com.itzyf.bean.User">
        INSERT INTO user (u_name, age) VALUES (#{name}, #{age})
    </insert>

    <sql id="selectUser">
        SELECT
            id,
            u_name AS "name",
            age
        FROM user</sql>
    <select id="getAll" resultType="com.itzyf.bean.User">
        <include refid="selectUser"/>
    </select>

    <select id="getUser" parameterType="int" resultType="com.itzyf.bean.User">
        <include refid="selectUser"/>
        WHERE id = #{id}
    </select>


</mapper>